@model List<Blog.Web.Entities.Post>


    @foreach (var post in Model)
    {
        <div class="post-preview" data-id="@post.PostId">
            <a href="/Post/Index?id=@post.PostId&title=@post.TitleSlug">
                <h2 class="post-title">
                    @Html.Raw(post.Title)
                </h2>
                <h3 class="post-subtitle">
                    @Html.Raw(post.SubTitle)
                </h3>
            </a>
            <p class="post-meta">Napisany przez <a href="/Home/About">@post.Writter</a> w dniu @post.Date.ToShortDateString()</p>
        </div>
        <hr>
    }
